* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.j-s {
  justify-content: space-between;
}

.a-c {
  align-items: center;
}

.j-c {
  justify-content: center;
}
